@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

:root {
    --base: hsl(268, 100%, 25%);
    --dark: hsl(268, 20%, 5%);
    --med: hsl(268, 20%, 10%);
    --light: hsl(268, 20%, 90%);
    --accent: hsl(268, 20%, 20%);
    
    font-size: 1vw;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline;
    background-color: var(--med);
    color: var(--light);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 35px;
    background-color: var(--dark);
    z-index: 100;
    text-align: center;
    justify-content: center;
}

header > * {
    padding: 5px 10px 0;
    margin: 0;
}

#left-menu {
    position: fixed;
    top: 35px;
    left: 0;
    height: 100%;
    width: 10%;
    background-color: var(--dark);
    margin-top: 0;
    z-index: 200;
    list-style: none;
    padding-left: 0;
    text-align: center;
}

#left-menu button {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    cursor: pointer;
    color: var(--light);
    background-color: transparent;
    border: 1px solid var(--accent);
    border-radius: 5px;
    padding: 10px;
    margin: 5px 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
    width: 80%;
}

#left-menu button:hover {
    background-color: var(--med);
}

#left-menu button:first-of-type {
    margin-top: 50px
}

#left-menu button * {
    margin: .1rem;
}


#right-menu {
    position: fixed;
    top: 35px;
    right: 0;
    height: 100%;
    width: 2.5%;
    background-color: var(--dark);
    margin-top: 0;
    z-index: 200;
}

#categories {
    padding-left: 10%;
    padding-top: 5px;
    margin-top: 35px;
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    z-index: 100;
    background-color: var(--accent);
    width: 100%;
    font-size: 1rem;
    box-shadow: 0 8px 6px -6px black;

}

#categories > * {
    border: 1px solid var(--light);
    color: var(--light);
    background-color: var(--accent);
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    font-size: 1rem;
}

#categories i,
#subcategories i {
    cursor: default;
}

#categories button:hover,
#categories button.active,
#subcategories button:hover,
#subcategories button.active {
    background-color: var(--med);
}


#categories p {
    border: 1px solid transparent;
    cursor: default;
    padding: 10px 10px 10px 1px;
    margin: 5px 5px 5px 0;
    font-size: 1rem;
}

#subcategories {
    padding-left: 10%;
    margin-top: 90px;
    position: fixed;
    display: flex;
    /* display: none; */
    flex-wrap: nowrap;
    z-index: 100;
    background-color: var(--accent);
    width: 100%;
    box-shadow: 0 8px 6px -6px black;

}

#subcategories > * {
    border: 1px solid var(--light);
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    font-size: .80rem;
    color: var(--light);
    background-color: var(--accent);
}

#subcategories p {
    border: 1px solid transparent;
    cursor: default;
    margin: 5px 5px 5px 0;
    padding-left: 1px;
}

#categories i,
#subcategories i {
    border: none;
    padding-right: 1px;
    margin-right: 1px;
}

#subcategories i {
    margin-left: 15px;
}

#content {
    border: 1px solid var(--med);
    position: relative;
    margin-top: 140px;
    margin-left: 10%;
    height: 80%;
    width: 85%;
    overflow: auto;
}

@keyframes todoBounce {
    0% {
        transform: translateX(-25%) scale(0.8);
        opacity: 0;
    }
    50% {
        transform: translateX(0) scale(0.8);
    }
    80% {
        transform: scale(1);
        opacity: 1;
    }
    90% {
        transform: scale(0.99);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes todoFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.todo {
    /* -moz-animation: todoFade .7s linear; */
    animation: todoFade .4s linear;
    /* animation: bounce 1s linear; */
    border: 2px solid var(--light);
    border-radius: 5px;
    margin: 5px 5px;
    display: flex;
    flex-wrap: nowrap;
    /* height: 72px; */
    overflow: hidden;
    max-height: 3.5rem;
    transition: max-height 1s ease-out;
    background-color: var(--accent);
}

.todo-show {
    max-height: fit-content;
}

.todo > * {
    padding: 10px;
}

.todo * {
    align-items: flex-start;
    align-content: center;
}

.todo-text {
    flex: 5 0 75%;
    display: flex;
}

.todo h3, .todo h4 {
    margin: 0;
}

.todo-text p {
    margin: 0;
    line-height: 1.5rem;
}

.todo-info {
    flex: 5 0 80%;
    position: relative;
    height: 100%;
}

.todo-info h3 i {
    padding-right: .5rem;
}

.todo-info p {
    padding-left: 1rem;
    font-size: .9rem;
}

.more-less {
    font-size: 0.8rem;
    background-color: var(--accent);
    color: var(--light);
    border: solid 1px var(--light);
    border-radius: 5px;
}

.more-less:hover {
    background-color: var(--dark);
}
/* .todo-info p { */
    /* position: relative; */
    /* width: 100%;
    height: 100%; */
    /* white-space: nowrap; */
    /* line-height: 1em; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* width: 100%; */
/* } */

.todo-categories {
    flex: 1 0 10%;
    padding-left: 10px;
}

.done {
    opacity: 0.5;
    background-color: var(--med);
    transition: opacity 0.7s;
}

.todo-due {
    flex: 1 0 10%;
    border-left: solid 1px var(--light);
    padding: 10px 10px;
    margin: 0;
}

.todo-due p {
    padding: 0;
    margin: 0;
    /* line-height: 70px; */
}

.todo-buttons {
    flex: 1 0 7%;
    border-left: solid 1px var(--light);
    font-size: 1rem;
}

.todo-buttons button {
    border: solid 1px var(--light);
    border-radius: 5px;
    background-color: var(--accent);
    color: var(--light);
    padding: .3rem;
    margin: .2rem;
}

.todo-buttons button i {
    font-size: 1.2rem;
}

.todo-buttons button:hover {
    background-color: var(--med);
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: var(--med);
    margin: 5rem auto;
    padding: 50px;
    border: 1px solid #888;
    width: 75%;
    /* display: flex; */
}

form#task-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
}

form#task-form > label {
    width: 10%;
    text-align: right;
    padding: 0 1%;
    margin-bottom: .5rem;
}

form#task-form > input,
form#task-form > select,
form#task-form > textarea {
    width: 15%;
    text-align: left;
    padding: 0 1%;
    margin-bottom: .5rem;
}

form#task-form > button {
    background-color: var(--med);
    color: var(--light);
    border-radius: 5px;
    width: 5rem;
    border: solid 1px var(--light);
}

form#task-form > button:hover {
    background-color: var(--accent);
    cursor: pointer;
}

form#task-form div#priority-list {
    width: 20%;
    text-align: left;
    padding: 0 5% 0 5%;
    display: flex;
}

form#task-form div#priority-list p {
    padding: 0 1rem 0 0;
    margin: 0;
}

form#task-form button {
    width: 100%;
    margin: 10px 30%;
    padding: 10px 20px;
    font-size: 1rem;
}

.close {
    color: var(--light);
    float: right;
    font-size: 2rem;
    font-weight: bold;
    margin: auto;
    padding: 0 1rem;
    border: 1px solid transparent;
}

.close:hover,
.close:focus {
    border: var(--light) 1px solid;
    border-radius: .2rem;
    text-decoration: none;
    cursor: pointer;
}
